html{
    height: 100vh;
    font-family: cursive, serif, "Times New Roman";
  }
  
  body{
    margin: 8px 2px 2px 2px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98%;
  }
  
  .header{
    background: lightpink;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    justify-self: center;
    border: solid 1px lightpink;
    border-radius: 10px;
    font-size: 300%;
  }
  
  .title{
    color: white;
    height: 80%;
    width: 30%;
    background: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px lightcoral;
    border-radius: 10px;
    -webkit-user-select: none; /*avoid text selection*/
    -ms-user-select: none; /*avoid text selection*/
    user-select: none; /*avoid text selection*/
  }
  
  .content{
    flex: 7;
    background: mediumslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calculator{
    background: grey;
    height: 90%;
    width: 350px;
    border: solid 10px white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 12px 0 0 #45294c;
  }
  
  .top{
    background: grey;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px grey;
    border-radius: 8px 8px 0 0;
  }
  
  .screen{
    background: lightgreen;
    width: 90%;
    height: 70%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 380%;
    box-shadow: 0px -6px 0px -1px #45294c;
  }
  
  .display{
    background: lightgreen;
    height: 90%;
    width: 95%;
    margin: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .buttonsZone{
    background: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    border: solid 2px lightpink;
    border-radius: 0 0 8px 8px;
  }
  
  .buttonsContainer{
    background: lightblue;
    height: 90%;
    width: 90%;
    border: solid 2px lightblue;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -6px 0px 1px #45294c;
  }
  
  .buttons{
    background: lightcoral;
    width: 21.5%;
    height: 15%;
    border: solid 2px white;
    border-radius: 10px;
    font-size: 180%;
    color: white;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 8px grey;
    padding: 0;
    font-family: cursive, serif, "Times New Roman";
    -webkit-user-select: none; /*avoid text selection*/
    -ms-user-select: none; /*avoid text selection*/
    user-select: none; /*avoid text selection*/
  }
  
  .buttons:hover{
    box-shadow: 0px 7px grey;
    transform: translateY(1px);
  }
  
  .buttons:active{
    box-shadow: 0px 3px 8px 0px blue;
    transform: translateY(6px);
  }
  
  .ac{
    background: #f5393b;
  }
  
  .backspace{
    background: white;
    color: red;
    border-color: lightcoral;
  }
  
  .buttons.backspace div{
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 9px;
    font-size: 150%;
  }
  
  .equal{
    width: 46%;
    background: mediumslateblue;
    color: white;
    box-shadow: 0px 7px grey;
  }
  
  .buttons.equal div{
    height: 60%;
    width: 60%;
    font-size: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
  }
  
  .equal:active{
    box-shadow: 0px 3px 8px 0px red;
    transform: translateY(4px);
  }
  
  .point{
    font-size: 250%;
    box-align: center;
  }
  
  .footer{
    background: lightpink;
    flex: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px lightpink;
    border-radius: 10px;
  }
  
  .footerText{
    font-size: 130%;
    height: 70%;
    width: 50%;
    background: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px lightcoral;
    border-radius: 10px;
    text-align: center;
    -webkit-user-select: none; /*avoid text selection*/
    -ms-user-select: none; /*avoid text selection*/
    user-select: none; /*avoid text selection*/
  }